@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
  --background-url: url("/bgLight.jpg");
  --footer-rgb: 30, 30, 30;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;

  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sticky {
  position: fixed;
}

.sticky div {
  backdrop-filter: blur(3px);
}
.sticky + .content {
  padding-top: 83px;
}

.navbar-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.navbar-dropdown-button,
.navbar-dropdown-menu {
  display: none;
}

.navbar-dropdown-menu {
  position: absolute;
  top: 70px;

  padding: 4px;

  border: 1px solid rgb(var(--foreground-rgb));
  
  backdrop-filter: blur(3px);
}

.navbar-links {
  display: flex;
}

.footer {
  border-top: 1px solid rgb(var(--foreground-rgb));

  background-color: rgb(var(--footer-rgb));
  color: rgb(var(--background-rgb));

  margin-top: auto;
}

@media(max-width: 781px) {
  .navbar-dropdown-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-dropdown-menu.open {
    display: flex;
  }
}
