@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
  --background-second-rgb: 200, 200, 200;
  --background-url: url("/bgLight2.jpg");
  --footer-rgb: 30, 30, 30;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;

  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  background-image: var(--background-url);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

button,
.button {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  
  padding: 6px;

  border: 2px solid rgb(var(--background-second-rgb));
  border-radius: 8px;

  transition: 262ms;
}

button:hover,
.button:hover {
  border: 2px solid rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sticky {
  position: fixed;
}

.sticky div {
  backdrop-filter: blur(6px);
}
.sticky + .content {
  padding-top: 94px;
}

.navbar-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.navbar-dropdown-button,
.navbar-dropdown-menu {
  display: none;
}

.navbar-dropdown-menu {
  position: absolute;
  box-sizing: padding-box;

  top: 70px;
  left: 0;
  right: 0;
}

.navbar-dropdown-border {
  border: 1px solid rgb(var(--foreground-rgb));
  
  backdrop-filter: blur(6px);
}

.navbar-links {
  display: flex;
}

.footer {
  border-top: 1px solid rgb(var(--foreground-rgb));

  background-color: rgb(var(--footer-rgb));
  color: rgb(var(--background-rgb));

  margin-top: auto;
}

.bg-blur {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.con-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.timeline-container {
  display: flex;
  flex-direction: column;

  position: relative;

  margin: 40px 0;
  width: 100%;
}

.timeline-container::after {
  background-color: rgb(var(--foreground-rgb));
  
  content: '';

  position: absolute;

  left: 50%;

  width: 1px;
  height: 100%;
}

.timeline-item {
  display: flex;

  justify-content: flex-end;

  position: relative;
  
  margin: 10px 0;
  padding-right: 30px;

  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;

  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  position: relative;

  width: 100%;
}

.timeline-item-main {
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 5px;

  padding: 15px;

  width: 100%;
  max-width: 400px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .circle {
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  top: calc(50% - 7.5px);
  right: -38.5px;

  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -36.5px;
}

@media(max-width: 781px) {
  .navbar-dropdown-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-dropdown-menu.open {
    display: flex;
  }
}
